{% extends '::base.html.twig' %}

{% block title %}Szczurki{% endblock %}

{% block stylesheets %}
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/lib/fontawesome/css/font-awesome.min.css') }}">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/lib/simple-line-icons/css/simple-line-icons.css') }}">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/lib/animate.css/animate.min.css') }}">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/lib/whirl/dist/whirl.css') }}">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- WEATHER ICONS-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/lib/weather-icons/css/weather-icons.min.css') }}">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/bootstrap.css') }}" id="bscss">
    <!-- =============== DATA TABLE STYLE ===============-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css">
    {#<link rel="stylesheet"#}
    {#href="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0/datatables.min.css">#}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/app.css') }}" id="maincss">
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/customStyle.css') }}">
{% endblock %}

{% block body %}

    <!-- JQUERY-->
    <script src="{{ asset('/bundles/app/lib/jquery/dist/jquery.js') }}"></script>
    <div class="wrapper">
        <!-- HEADER -->
        {% block navbar %}
            {{ include('::template/header.html.twig') }}
        {% endblock %}
        <!-- SIDEBAR -->
        {% block sidebar %}
            {{ include('::template/sidebar.html.twig') }}
        {% endblock %}
        <!-- OFFSIDEBAR -->
        {% block offsidebar %}
            {{ include('::template/offsidebar.html.twig') }}
        {% endblock %}
        <!-- mainSection -->
        {% block mainsection %}
            {#{{ include('::template:mainSection.html.twig') }}#}
            <!-- Main section-->
            <section>
                <!-- Page content-->
                <div class="content-wrapper">
                    <div class="content-heading">
                        <!-- START action list-->
                        <div class="pull-right">
                            <div id="action-button">
                                {% block topnavbaraction %}
                                {% endblock %}
                            </div>
                        </div>
                        <!-- END action list    -->
                        {% block topnavbartitle %}
                            topnavbartitle
                            <small data-localize="dashboard.WELCOME">asd</small>
                        {% endblock %}
                    </div>
                    <!-- START widgets box-->
                    {% block contentpage %}
                        block - content
                    {% endblock %}
                    <!-- END widgets box-->
                </div>
            </section>
        {% endblock %}
        <!-- Footer -->
        {% block footer %}
            {{ include('::template/footer.html.twig') }}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <!-- MODERNIZR-->
    <script src="{{ asset('/bundles/app/lib/modernizr/modernizr.custom.js') }}"></script>
    <!-- MATCHMEDIA POLYFILL-->
    <script src="{{ asset('/bundles/app/lib/matchMedia/matchMedia.js') }}"></script>
    <!-- BOOTSTRAP-->
    <script src="{{ asset('/bundles/app/lib/bootstrap/dist/js/bootstrap.js') }}"></script>
    <!-- STORAGE API-->
    <script src="{{ asset('/bundles/app/lib/jQuery-Storage-API/jquery.storageapi.js') }}"></script>
    <!-- JQUERY EASING-->
    <script src="{{ asset('/bundles/app/lib/jquery.easing/js/jquery.easing.js') }}"></script>
    <!-- ANIMO-->
    <script src="{{ asset('/bundles/app/lib/animo.js/animo.js') }}"></script>
    <!-- SLIMSCROLL-->
    <script src="{{ asset('/bundles/app/lib/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!-- SCREENFULL-->
    <script src="{{ asset('/bundles/app/lib/screenfull/dist/screenfull.js') }}"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- SPARKLINE-->
    <script src="{{ asset('/bundles/app/lib/sparkline/index.js') }}"></script>
    <!-- FLOT CHART-->
    <script src="{{ asset('/bundles/app/lib/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/Flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/Flot/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('/bundles/app/lib/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <!-- CLASSY LOADER-->
    <script src="{{ asset('/bundles/app/lib/jquery-classyloader/js/jquery.classyloader.min.js') }}"></script>
    <!-- MOMENT JS-->
    <script src="{{ asset('/bundles/app/lib/moment/min/moment-with-locales.min.js') }}"></script>
    <!-- =============== DATA SCRIPTS ===============-->
    <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}
    <!-- =============== APP SCRIPTS ===============-->
    <script src="{{ asset('/bundles/app/js/app.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/custom.js') }}"></script>
{% endblock %}