<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <!-- START action list-->
            <div class="pull-right">
                <div class="btn-group">
                    {% block topnavbaraction %}
                        <button class="btn btn-danger">Action</button>
                    {% endblock %}
                </div>
            </div>
            <!-- END action list    -->
            {% block topnavbartitle %}
                topnavbartitle
                <small data-localize="dashboard.WELCOME">asd</small>
            {% endblock %}
        </div>
        <!-- START widgets box-->
        <div class="row">
            <div class="col-md-12">
                {% block contentpage %}
                    block - content
                {% endblock %}
            </div>
        </div>
        <!-- END widgets box-->
    </div>
</section>