body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

#action-button ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#action-button li {
    margin: 0;
    padding: 0;
    float: left;
    margin: 0 5px;
}

.table-actions a {
    margin: 0 5px;
}

.preparat-list {
    /*position: absolute;*/
    display: none;
}

.sidebar > .nav > li > a, .sidebar > .nav > li > .nav-item{
    font-weight: 300;
}