{% extends 'AppBundle::layout.html.twig' %}

{% block topnavbartitle %}
    Job #{{ job.id }}
{% endblock %}

{% block topnavbaraction %}
    <ul>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}

{% block contentpage %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-success pull-right" type="submit" value="Edit"/>
            {{ form_end(edit_form) }}
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('job_index') }}">Back to the list</a>

{% endblock contentpage %}
