{% extends 'AppBundle::layout.html.twig' %}
{% block topnavbartitle %}
    Jobs list
{% endblock %}
{% block topnavbaraction %}
    <a class="btn btn-primary" href="{{ path('job_new') }}">Create a new job</a>
{% endblock %}

{% block contentpage %}
    <div class="row">
        <div class="col-md-12">
            {{ datatable_render(dataTable) }}
        </div>
    </div>
{% endblock contentpage %}