{% extends 'AppBundle::layout.html.twig' %}

{% block topnavbartitle %}
    Job creation
{% endblock %}

{% block topnavbaraction %}
{% endblock %}

{% block contentpage %}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success pull-right" type="submit" value="Create"/>
            {{ form_end(form) }}
            <a class="btn btn-warning" href="{{ path('job_index') }}">Back to the list</a>
        </div>
    </div>
{% endblock contentpage %}