{% extends 'AppBundle::layout.html.twig' %}

{% block topnavbartitle %}
    Job #{{ job.id }}
{% endblock %}

{% block topnavbaraction %}
    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('job_edit', { 'id': job.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}

{% block contentpage %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ job.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ job.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ job.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ job.price }}</td>
                </tr>
                </tbody>
            </table>

                    <a class="btn btn-primary" href="{{ path('job_index') }}">Back to the list</a>
                </li>
        </div>
    </div>
{% endblock contentpage %}