{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <!-- START panel-->
            <div class="panel panel-dark panel-flat">
                <div class="panel-heading text-center">
                    <a href="#">
                        <img src="{{ asset('/bundles/app/img/logo.png') }}" alt="Image"
                             class="block-center img-rounded">
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center pv">SIGN IN TO CONTINUE.</p>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                          data-parsley-validate="" novalidate="" class="mb-lg">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <div class="form-group has-feedback">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required" class="form-control" placeholder="Enter email"
                                   autocomplete="off"/>
                            <span class="fa fa-envelope form-control-feedback text-muted"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="password" name="_password" required="required"
                                   placeholder="Password" required class="form-control"/>
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                        </div>
                        <div class="clearfix">
                            <div class="checkbox c-checkbox pull-left mt0">
                                <label>
                                    <input type="checkbox" value="" name="remember">
                                    <span class="fa fa-check"></span>Remember Me</label>
                            </div>
                            <div class="pull-right"><a href="resetting/request" class="text-muted">Forgot your
                                    password?</a>
                            </div>
                        </div>
                        <button id="_submit" name="_submit" type="submit" class="btn btn-block btn-primary mt-lg">
                            Zaloguj
                        </button>
                    </form>
                    <p class="pt-lg text-center">Need to Signup?</p><a href="register"
                                                                       class="btn btn-block btn-default">Register
                        Now</a>
                </div>
            </div>
            <!-- END panel-->
            <div class="p-lg text-center">
                <span>&copy;</span>
                <span>2016</span>
                <span>-</span>
                <span>TEHEME</span>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
